{{- if .Values.global.imagePullSecrets }}
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  name: app-vault-registry-pull
  namespace: {{ .Values.global.namespace }}
spec:
  destination:
    create: true
    name: registry-pull-secret
    type: kubernetes.io/dockerconfigjson
  mount: {{ .Values.vault.mount }}
  path: registry-pull-secret
  type: kv-v2
{{- end }}
