global:
  namespace: app

image:
  repository: postgres
  tag: "16.3"
  pullPolicy: IfNotPresent

replicas: 1

service:
  type: NodePort
  port: 5400
  targetPort: 5432

storage:
  enabled: true
  storageClass: "nfs"
  size: "1Gi"

resources:
  requests:
    memory: "256Mi"
    cpu: "250m"
  limits:
    memory: "512Mi"
    cpu: "500m"

securityContext:
  allowPrivilegeEscalation: false
  runAsUser: 1000
  runAsNonRoot: true
  capabilities:
    drop: ["ALL"]
  seccompProfile:
    type: RuntimeDefault

database:
  name: app
  pgdata: /var/lib/postgresql/data/pgdata

vault:
  enabled: true
  mount: app-des
  path: app/database
  refreshAfter: 1h
