spring:
  config:
    import: optional:file:.env[.properties]
  application:
    name: backend
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/backend}
    username: ${DB_USERNAME:backend}
    password: ${DB_PASSWORD:backend}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
      org:
        hibernate:
          envers:
            audit_table_suffix: _aud
            revision_field_name: rev
            revision_type_field_name: revtype
            store_data_at_delete: true
    open-in-view: false
  flyway:
    enabled: true
    baseline-on-migrate: true
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KC_ISSUER_URI}
          jwk-set-uri: ${KC_JWK_SET_URI:${KC_ISSUER_URI}/protocol/openid-connect/certs}
          audiences: ${KC_AUDIENCE:${KC_CLIENT_ID}}

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      probes:
        enabled: true
    prometheus:
      enabled: true
  metrics:
    tags:
      application: ${spring.application.name}

gotenberg:
  url: ${GOTENBERG_URL:http://localhost:3000}

app:
  security:
    cors:
      allowed-origins: ${KC_ALLOWED_ORIGINS:https://example.com}
      allowed-methods: ${KC_ALLOWED_METHODS:GET}
      allowed-headers: ${KC_ALLOWED_HEADERS:Authorization,Content-Type}
